body{
    margin: 0px;
    background-color: black;
}
*
{
    user-select: none;
}
#game-container
{
     z-index: -10;
     width: 1077px;
     height: 721px;

     margin-left: 15%;
     margin-right: 15%;
     background-size: 100% 100%;
     background-repeat: no-repeat center center fixed;
     animation: death 5s infinite;
     animation-play-state: paused;
}
@keyframes death
{
    0% {background-color: unset; opacity: 1;}
    20% {background-color: red; opacity: 0;}
    40% {background-color: red; opacity: 1;}
    100% {background-color: black; opacity: 1;}
}
#title
{
    text-align: center;
    position: relative;
    padding-top: 18%;
    margin-bottom: 11%;
    margin-top: 0px;
    font-size: 100px;

    animation: fadetitle 3s infinite;
    animation-play-state: paused;
    color: rgba(0, 0, 0, 0.7);

    opacity: 0;
}
@keyframes fadetitle
{
    0% {top: 0px; opacity: 0; }
    80% { top: 20px; opacity: 1;}
    100% {top: 20px;opacity: 0;}
}

#shimmer
{
    animation: shimmeranimation 2s infinite;
}

@keyframes  shimmeranimation
{
    0% {opacity: 1;}
    50%{opacity: 0;}
    100% {opacity: 1;}
}
#inventory
{
    display: none;
    position: absolute;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    border: rgba(0, 0, 0, 0.39) 5px solid;
    border-radius: 0px 20px 20px 20px;
}
#inventoryitem1, #inventoryitem2, #inventoryitem3, #inventoryitem4, #inventoryitem5, #inventoryitem6
{
    display: none;
    border-radius: 17px 17px 17px 17px;
    width: 60px;
    height: 60px;
}
#emptyinventoryfiller
{
    display: block;
    width: 60px;
    height: 60px;
}

#description
{
   position: absolute;
   margin-bottom: 0px;
   margin-top: 132px;
   width: 1007px;
   font-size: 20px;
   padding-left: 30px; 
   padding-right: 30px;
   padding-top: 20px;
   padding-bottom: 110px;
   background-color: rgba(255, 255, 255, 0.678);
   border: rgba(0, 0, 0, 0.39) 5px solid;
   border-radius: 20px 20px 0px 0px;
   border-style: solid;
}

#game-buttons
{
    position: absolute;
    margin-top: 254px;
    margin-left: 15%;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0) 5px solid;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
}
#button1, #button2, #button3, #button4
{
    width: 200px;
    height: 30px;
    background-color: rgb(197, 197, 197);
    border: rgb(97, 97, 97) 1px solid;

}
#button1
{
    border-radius: 15px 0px 0px 0px;
}
#button2
{
    border-radius: 0px 0px 0px 0px;
}
#button3
{
    border-radius: 0px 15px 0px 0px;
    margin-left: -4px;
}
#button4
{
    border-radius: 0px 15px 0px 0px;
    width: 100px;
    display: none;
}
