body{
    margin: 0px;
}
*
{
    user-select: none;
}
#game-container
{
     z-index: -10;
     background-size: 100% 100%;
     background-repeat: no-repeat center center fixed;
}
#title
{
    text-align: center;
    position: relative;
    
    padding-top: 14%;
    margin-bottom: 15%;
    margin-top: 0px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: fadeinandout 3s infinite;
    
    animation-play-state: paused;
}
@keyframes fadeinandout
{
    0% {top: 0px; opacity: 0; }
    80% { top: 20px; opacity: 1;}
    100% {top: 20px;opacity: 0;}
}
#inventory
{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.678);
    border: rgba(0, 0, 0, 0.39) 5px solid;
    border-radius: 0px 20px 20px 20px;
}
#inventoryitem1, #inventoryitem2, #inventoryitem3
{
    display: none;
    border-radius: 0px 20px 20px 20px;
    width: 60px;
    height: 60px;
}
#emptyinventoryfiller
{
    display: block;
    width: 60px;
    height: 60px;
}

#description
{
   font-size: 20px;
   padding-left: 30px; 
   padding-right: 30px;
   padding-top: 20px;
   padding-bottom: 110px;
   background-color: rgba(255, 255, 255, 0.678);
   border: rgba(0, 0, 0, 0.39) 5px solid;
   border-radius: 20px 20px 0px 0px;
   border-style: solid;
}

#game-buttons
{
    position: absolute;
    margin-top: -40px;
    margin-left: 30%;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0) 5px solid;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
}
#button1, #button2, #button3
{
    width: 200px;
    height: 30px;
    background-color: rgb(197, 197, 197);
    border: rgb(97, 97, 97) 1px solid;

}
#button1
{
    border-radius: 15px 0px 0px 0px;
}
#button2
{
    border-radius: 0px 0px 0px 0px;
    margin-left: -px;
}
#button3
{
    border-radius: 0px 15px 0px 0px;
    margin-left: -4px;
}
